#menu.navbar-default .navbar-brand {
    color: rgba(71, 51, 51, 1);
}
#menu.navbar-default {
    font-size: 14px;
    background-color: rgba(255, 160, 112, 1);
    border-width: 0px;
    border-radius: 0px;
    margin: 50 0 0 0;
}
#menu.navbar-default .navbar-nav>li>a {
    color: rgba(112, 78, 78, 1);
    background-color: rgba(255, 160, 112, 1);
}
#menu.navbar-default .navbar-nav>li>a:hover,
#menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(59, 43, 43, 1);
    background-color: rgba(227, 100, 50, 1);
}
#menu.navbar-default .navbar-nav>.active>a,
#menu.navbar-default .navbar-nav>.active>a:hover,
#menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(71, 40, 40, 1);
    background-color: rgba(255, 194, 161, 1);
}
#menu.navbar-default .navbar-toggle {
    border-color: #ffc2a1;
}
#menu.navbar-default .navbar-toggle:hover,
#menu.navbar-default .navbar-toggle:focus {
    background-color: #ffc2a1;
}
#menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffc2a1;
}
#menu.navbar-default .navbar-toggle:hover .icon-bar,
#menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #ffa070;
}


#menu.navbar-default .navbar-nav>li>ul {
    color: rgba(112, 78, 78, 1);
    background-color: rgba(255, 160, 112, 1);
}
#menu.navbar-default .navbar-nav>li>ul>li>a:hover,
#menu.navbar-default .navbar-nav>li>ul>li>a:focus {
    color: rgba(59, 43, 43, 1);
    background-color: rgba(227, 100, 50, 1);
}

/* Page */

#main{
  padding: 50px 0 0 0;
}
.m-0{
  margin: 0;
}

#i__container{
  padding: 0 0 0 0;
}
/* Items */
#item{
  /* position: relative; */
  display: flex;

  justify-content: space-between;

  flex-direction: column;
  min-height: 250px;
  max-height: 250px;
  overflow-y: hidden;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;

  padding-top: 15px;

  background-color: #fcf7d6;

  border-width: 1px;
  border-style: solid;
  border-color: rgba(255, 160, 112, 0);
  border-radius: 15px;

  box-shadow: 0 0 10px rgba(255, 160, 112, 0.5);
}

#item:hover{
  background-color: #fff;

  box-shadow: 0 0 15px rgba(219, 137, 96, 1);

  transition: box-shadow 0.2s ease-in-out,
              background-color 0.2s ease-in-out;
}

#item>img{
  min-height: 50%;
  max-height: 50%;
  max-width: 100%;
  /* overflow-x: hidden; */
}

.adress{
  margin-top: 15px;
  font-size: 14pt;
  color: #492311;
}

.free{
  /* position: absolute; */
  width: 100%;
  /* height: 100%; */
  /* bottom: 10px; */
  /* right: 15px; */
  font-size: 14pt;
  font-style: bold;
  color: green;
  text-align: right;
  margin-top: auto;
}

.non-free{
  width: 100%;
  font-size: 14pt;
  font-style: bold;
  color: red;
  text-align: right;
  margin-top: auto;
}
p, h2, h3{
  color: black;
}

h3{
  font-size: 20pt;
  font-style: bold;
  padding-left: 20px;
}

a:hover{
  text-decoration: none;
}
h3:hover{

  text-shadow: 0 0 15px rgba(196, 89, 70,1);
}
.center{
  display: flex;
  min-height: 100%;
  height: auto;
  justify-content: center;
  /* margin: auto auto auto auto; */
  /* margin-left: auto;
  margin-right: auto; */
}

/* Forms */

.form-content{
  background-color: #fff8d1;
  box-shadow: 0 0 25px rgba(196, 89, 70,1);
  justify-content: center;
  align-self: center;
  padding-bottom: 20px;
  border-radius: 5%;
}
.container.align-self-center{
  position: absolute;
  bottom:0;
  top:50px;
  right:0;
  left:0;
  justify-content: center;
}
.test{
  height: 100px;
  background-color: red;
  align-self: center;
}
.btn.col-12{
  min-width: 100%;
  width: auto;
  text-align: center;
  background-color: #f23c0e;
  border-color: #c92e08;
}
.btn.col-12:hover{
  background-color: #e80b00;
  border-color: #9e2206;
  color: #ffdda3;
  transition: background-color 0.2s ease,
              border-color 0.2s ease,
              color 0.2s ease;
}
.sign{
  color: #f23c0e;
  float: right;
  margin-top: 1.5pt;
}
.sign:hover{
  color:#9e2206;
}

/* Item Page */
.photo{
  overflow-y: hidden;
  overflow-x: hidden;
  /* max-height: 500px;*/
  height: 100%;
}
.item-image{
  width: 100%
}

.pad{
  margin-top: 10px;
}

/* Owner MyPage */
.item{
  /* position: relative; */
  display: flex;

  justify-content: space-between;

  flex-direction: column;
  min-height: 350px;
  max-height: 350px;
  overflow-y: hidden;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;

  padding-top: 15px;

  background-color: #fcf7d6;

  border-width: 1px;
  border-style: solid;
  border-color: rgba(255, 160, 112, 0);
  border-radius: 15px;

  box-shadow: 0 0 10px rgba(255, 160, 112, 0.5);
}

.item:hover{
  background-color: #fff;

  box-shadow: 0 0 15px rgba(219, 137, 96, 1);

  transition: box-shadow 0.2s ease-in-out,
              background-color 0.2s ease-in-out;
}

.item>img{
  min-height: 50%;
  max-height: 50%;
  max-width: 100%;
  /* overflow-x: hidden; */
}

/* Place deal Page */

.orderers{
  margin-top: 30px;
}

.orderer{
  border-bottom: solid black 1px;
  padding-left: 20px;
  display: flex;

  justify-content: space-between;

}
.orderer>div>p{
  display: inline-block;
}

.dealc{
  background-color: #fff8d1;
  justify-content: center;
  align-self: center;
  padding-bottom: 20px;
  border-radius: 5%;
}
/* Slider */
/* body {
      margin: 0;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      color: #fff7c2;
      height: 3000px;
    } */

    .slider {
      position: relative;
      overflow: hidden;
    }

    .slider__wrapper {
      display: flex;
      transition: transform 0.6s ease;
    }

    .slider__item {
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }

    .slider__control {
      position: absolute;
      top: 50%;
      display: none;
      align-items: center;
      justify-content: center;
      width: 40px;
      color: #fff;
      text-align: center;
      opacity: 0.5;
      height: 50px;
      transform: translateY(-50%);
      background: rgba(0, 0, 0, .5);
    }

    .slider__control_show {
      display: flex;
    }

    .slider__control:hover,
    .slider__control:focus {
      color: #fff;
      text-decoration: none;
      outline: 0;
      opacity: .9;
    }

    .slider__control_left {
      left: 0;
    }

    .slider__control_right {
      right: 0;
    }

    .slider__control::before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      background: transparent no-repeat center center;
      background-size: 100% 100%;
    }

    .slider__control_left::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    }

    .slider__control_right::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    }

    .slider__item>div {
      line-height: 250px;
      font-size: 100px;
      text-align: center;
    }
